<div id="modal_1" class="modal">
  <button class="modal__close">
    X
  </button>
  <form class="modal__content">
    <h3 class="modal__content__title">Купить в 1 клик</h3>
    <label for="phone"></label>
    <input type="tel" name="phone" id="phone" placeholder="+ 7 (---) --- -- -- "
           class="modal__content__input phone-mask">
    <label for="name"></label>
    <input type="text" name="name" id="name" placeholder="Ваше имя"
           class="modal__content__input">
    <div class="modal__content__conf">
      <p>Нажимая кнопку “Отправить”, я даю согласие на обработку моих персональных данных в соответствии с</p>
      <a href="#">Условиями конфиденциальности</a>
    </div>
    <button class="btn">Отправить</button>
  </form>
</div>
<div class="modal__backdrop modal__backdrop--hidden" id="modal-backdrop"></div>
