<header class="header">
  <div class="wrapper">
    <div class="header__items">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__list__item">
            <a href="#" class="nav__list__item__link nav__list__item__link--active">Проекты</a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__item__link">Генплан</a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__item__link">Галерея</a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__item__link">Отдых</a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__item__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <a href="/" class="header__items__logo">
        <picture>
          <source srcset="../../img/logo.webp" type="image/webp">
          <img src="../../img/logo.png" alt="logo" width="180" height="48">
        </picture>
      </a>
      <div class="header__items__right">
        <div class="header__items__phones">
          <a href="tel:+7 (495) 241-6000" class="header__items__phones__item">
            <span class="t-1">+7 (495) 241-6000</span>
            <p class="t-2">покупка участков</p>
          </a>
          <a href="tel:+7 (499) 460-4251" class="header__items__phones__item">
            <span class="t-1">+7 (499) 460-4251</span>
            <p class="t-2">отдых</p>
          </a>
        </div>
        <button class="btn">
          Оставить заявку
        </button>
      </div>
      <button class="burger" aria-label="Меню">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
