<footer class="footer">
    <div class="cookies cookies-disabled">
        <div class="container cookies__wrap">
            <h4 class="cookies__title h-4">Мы используем куки для улучшения работы сайта</h4>
            <div class="cookies__text t-3">Оставаясь с нами, вы соглашаетесь на использование
                <a href="https://dev.lokeodata.ru/legal/privacypolicy/" class="cookies__link"
                   target="_blank">файлов куки</a>
            </div>
            <button class="btn btn-secondary cookies__button">
                <span>ОК</span>
            </button>
        </div>
    </div>
</footer>